#form {
    text-align: center;
    color: white;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    border: white solid  3px;
    border-radius: 10px;
    
    width: 400px;
    height: 430px;

    overflow: auto;
    
    display: flex;
    flex-direction: column;
    
    padding: 5px;
}

button {
    align-self: center;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    color: white;
    background-color: black;

    border: white solid 2px;
    border-radius: 5px;

    width: 150px;
    transition:
        transform 0.15s ease-out,
        color 0.15s;
}

button:hover {
    color: yellow;
    transform: scale(115%);
}

input {
    background-color: black;
    border: white solid 2px;
    color: white;
}

body {
    background-color: black;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}