{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll</title>
    <link rel="stylesheet" href="{% static 'css/survey.css' %}">
</head>
<body>
    <form method="POST">
        {% csrf_token %}

        <div id="form" class="container">
            {% for item in forms %}
            <div>
                <h3>{{ item.question.text }}</h3>

                {{ item.form.answer }}
            </div>

            <br>
        {% endfor %}

        <button>Submit Answers</button>
    </form>
    </div>
 </body>