{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll</title>
    <link rel="stylesheet" href="{% static 'css/survey.css' %}">
</head>
<body>
    {% csrf_token %}

    <div id="form" class="container">
        {% for item in forms %}
        <div>
            <h3>{{ item.question.text }}</h3>

            {{ item.form.answer }}
        </div>

        <br>
    {% endfor %}
    </div>
 

    <button type="submit">Submit Answers</button>
</body>