{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll</title>
    <link rel="stylesheet" type="text/static" href="{% static 'css/survey.css' %}">
</head>
<body>
    {% csrf_token %}

    {% for item in forms %}
        <div>
            <label>{{ item.question.text }}</label>

            {{ item.form.answer }}
        </div>

        <br>
    {% endfor %}

    <button type="submit">Submit Answers</button>
</body>